body {

    background-color: #555
    
    }
    
    nav {
        background-color:  rgb(152, 152, 152);
        display: flex;
        width: 84%;
        margin: auto;
        align-items: center;
        justify-content: space-between;
    }
    
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 20px;
    }
    
    nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    }
    
    nav ul li a:hover{
        color:lightslategray;
    }
    
    #kleur2 {
        color: white;
    }
    

    