body {

background-color: #555

}

#kleur1 {

color: white;

}

nav {
    background-color: rgb(152, 152, 152);
    display: flex;
    width: 84%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
text-decoration: none;
color: black;
font-weight: bold;
}

nav ul li a:hover{
    color:rgb(181, 188, 182);
}

.images {
    height: 60%;
    position: absolute;
    left: 72%;
    bottom: 0;
    top: 225px;
    transform: translate(-50);
    transition: bottom 1s; left: 1s;
}
.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images:hover.shape {
    bottom: 40px;
}

.image2 {
    width: 23%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: 1100px;
    color: white;
}

